<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29925720724-d9k4f1cco8hd7amp9f0ristd8a398cse.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29925720724-d9k4f1cco8hd7amp9f0ristd8a398cse</string>
	<key>API_KEY</key>
	<string>AIzaSyAUSh3CPaokptE3Wn-G0T_UmuylFz9t0cU</string>
	<key>GCM_SENDER_ID</key>
	<string>29925720724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AnjeyNov.WAKEPARKBY</string>
	<key>PROJECT_ID</key>
	<string>wakeparkby-anjey</string>
	<key>STORAGE_BUCKET</key>
	<string>wakeparkby-anjey.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29925720724:ios:b5a0ee2aae945629faea81</string>
	<key>DATABASE_URL</key>
	<string>https://wakeparkby-anjey.firebaseio.com</string>
</dict>
</plist>